.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #BBDEFB;
}


.navbar-nav > li > a {
    padding-top:30px !important; 
    padding-bottom:0px !important;
    height: 80px;
}
.navbar {min-height:30px !important;}

.navbar-brand
{
	padding-top:10px !important;
}

.img-body {
    margin-top: 100px;
}